body{
    background-color:#030202;
    color:#fff;    
    margin-top: 50px;    
    text-align: center;
}

h1{
    color:#fff ;    
    margin: auto;
    width: 310px;
    height: 60px;
    text-align: center;
    padding-bottom: 40px;
}

a{
    color:#fff ;
    width: 310px;
    height: 60px;
    text-align: center;
    
}
div{
    padding-top: 30px;
}
